<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
</head>

<body>
	<header>
		<div class="container">
			<h1 class="title">Learning Flask</h1>
		</div>
	</header>

	{% block content %}
	{% endblock %}
</body>
</html>